<div class="container">
    <div class="row" id="Ristorante">
        <div class="col navMenu">
            <h2 class="text-center" >~ Restaurants ~</h2>
        </div>
    </div>
    <div class="row bg-light">
        <div class="col-md-6">
            <h3>Location</h3>
            <p>Grazie per esserti fermato. Siamo l'ultimo autentico ristorante italiano a Milano, che serve deliziosi piatti della cucina italiana cucinati dai migliori chef. Ti bastano pochi minuti per navigare attraverso il nostro sito Web e controllare il nostro menu .Speriamo che ti unirai presto a noi per una superba esperienza culinaria italiana.</p>
            <h5>Un'esperienza unica</h5>
            <p>Grazie per esserti fermato. Siamo l'ultimo autentico ristorante italiano a Milano, che serve deliziosi piatti della cucina italiana cucinati dai migliori chef. Ti bastano pochi minuti per navigare attraverso il nostro sito Web e controllare il nostro menu .Speriamo che ti unirai presto a noi per una superba esperienza culinaria italiana.</p>
        </div>
        <div class="col-md-6" data-aos="fade-up">
            <img class="img-fluid" src="/assets/location.jpg">
        </div>
    </div>
    <div class="row bg-light"><br></div>
    <div class="row bg-light">
        <div class="col-md-6 order-md-1 order-2" data-aos="fade-up">
            <img class="img-fluid " src="/assets/cucina.jpg">
        </div>
        <div class="col-md-6 order-md-12 order-1">
            <h3>Cucina</h3>
            <p>Grazie per esserti fermato. Siamo l'ultimo autentico ristorante italiano a Milano, che serve deliziosi piatti della cucina italiana cucinati dai migliori chef. Ti bastano pochi minuti per navigare attraverso il nostro sito Web e controllare il nostro menu .Speriamo che ti unirai presto a noi per una superba esperienza culinaria italiana.</p>
            <h5>Un'esperienza unica</h5>
            <p>Grazie per esserti fermato. Siamo l'ultimo autentico ristorante italiano a Milano, che serve deliziosi piatti della cucina italiana cucinati dai migliori chef. Ti bastano pochi minuti per navigare attraverso il nostro sito Web e controllare il nostro menu .Speriamo che ti unirai presto a noi per una superba esperienza culinaria italiana.</p>
        </div>
    </div>
        
<div class="row" id="Menu">
    <div class="col navMenu">
        <h2 class="text-center" >~ Popular Menu ~</h2>
    </div>
</div>
<div class="row">
    <div class="col-md-4" data-aos="slide-up">
        <div class="card view zoom">
            <img class="card-img-top img-fluid " src="/assets/menu-carne.jpg">
            <div class="card-body">
                <h5 class="card-title">~ Menu di Carne ~</h5>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">Bocconcini di carne in nido di sfoglia</li>
                    <li class="list-group-item">Bruschette con maiale al curry</li>
                    <li class="list-group-item">Uova al prosciutto</li>
                    <li class="list-group-item">Vitello tonnato</li>
                    <li class="list-group-item">Fesa di tacchino marinata con olive</li>
                </ul>
            </div>
        </div>
    </div>
    <div class="col-md-4" data-aos="slide-up">
        <div class="card">
            <img class="card-img-top img-fluid " src="/assets/menu-pesce.jpg" alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title">~ Menu di Pesce ~</h5>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">Carpaccio di polpo</li>
                    <li class="list-group-item">Cozze al verde</li>
                    <li class="list-group-item">Cocktail di gamberi</li>
                    <li class="list-group-item">Risotto alla crema di scampi</li>
                    <li class="list-group-item">Ravioli di pesce con crema di scampi</li>
                </ul>
            </div>
        </div>
    </div>
    <div class="col-md-4" data-aos="slide-up">
        <div class="card">
            <img class="card-img-top img-fluid" src="/assets/menu-vegetarian.jpg" alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title">~ Menu Vegetariano ~</h5>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">Parmigiana di melanzane</li>
                    <li class="list-group-item">Strudel con ricotta e spinaci</li>
                    <li class="list-group-item">Polpette di spinaci e ricotta</li>
                    <li class="list-group-item">Frittata di patate al forno</li>
                    <li class="list-group-item">Spaghetti con le polpettine vegetariane</li>
                </ul>
            </div>
        </div>
    </div>
</div>
        
<div class="row" id="Prenotazione">
    <div class="col navMenu">
        <h2 class="text-center">~ Contact ~</h2>
    </div>
</div>
<br>

<div class="row">
    <div class="col-md-3">
        <h3>Contact:</h3>
        <p>Edward Wittiga, 51-628 Wroclaw, Wroclaw (Poland) </p>
        <h3>Email:</h3>
        <p>vbhavu1925@gmail.com</p>
    </div>
</div>
<div class="row footer bg-light">
    <div class="col">
        <p class="text-center">Follow us: <a class="social-icon" href="/"><i class="fa fa-facebook"></i></a> <a class="social-icon" href="/"><i class="fa fa-instagram"></i></a></p>
    </div>
    <div class="col">
        <p class="text-center">Copyright &copy; 2020</p>
    </div>
    <div class="col">
        <p class="text-center">Powered by: <a href="https://bhavesh-waghela.github.io/">Bhavesh Waghela</a></p>
    </div>
</div>

<script type="text/javascript">
  $(document).ready(function(){
  // Add scrollspy to <body>
    $('body').scrollspy({target: ".navbar", offset: 50});   

    // Add smooth scrolling on all links inside the navbar
    $("#navbarText a").on('click', function(event) {
      // Make sure this.hash has a value before overriding default behavior
      if (this.hash !== "") {
        // Prevent default anchor click behavior
        event.preventDefault();

        // Store hash
        var hash = this.hash;

        // Using jQuery's animate() method to add smooth page scroll
        // The optional number (800) specifies the number of milliseconds it takes to scroll to the specified area
        $('html, body').animate({
          scrollTop: $(hash).offset().top
        }, 800, function(){
     
          // Add hash (#) to URL when done scrolling (default click behavior)
          window.location.hash = hash;
        });
      }  // End if
    });
  });

  AOS.init({
    duration: 1200
  });
</script>